body {
    text-align: center;
    font-family:Tahoma, Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 50px;
}

#numero {
    margin:100px;
    font-size: 100px;
}

#menos1, #resetar, #mais1 {
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

a, a:visited {
    text-decoration: none;
    color:black;
}